@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedBold"),
  url(fonts/GothamRoundedBold_21016.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedBook"),
  url(fonts/GothamRoundedBook_21018.ttf);
  font-weight: normal;
}

@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedLight"),
  url(fonts/GothamRoundedLight_21020.ttf);
  font-weight: lighter;
}

ol,ul {list-style: none;}

a, a:hover, li {text-decoration: none;}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: GothamRounded;
	
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

header{
	width: 100%;
	padding: 45px 0 0 0;
	letter-spacing: 2px;
}

nav, .soc{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; /*for pixel perfect*/
}
nav a{
	display: inline-block;
	margin-right: 80px;
}

nav a:last-child, .soc li:last-child{
	margin-right: 0px;
}

nav a{
	text-transform: uppercase;
	font: 15px, bold;
	color: #fff;
}

.home{
	background: #462e3b url(img/pict.jpg) no-repeat center bottom;
	background-size: cover;
}

.home .container{
	padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.label{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    margin-left: 25px; /*for pixel perfect*/

}

.home .container h4{
    font: 17px/17px ;
	margin-bottom: 25px;
    letter-spacing: 3px;
}

.btn{
	background-color: #16a085;
    padding: 18px 30px;
    text-transform: uppercase;
    font: 12px/12px GothamRoundedBook;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
	letter-spacing: 2px;
}


.soc li{
	display: inline-block;
    margin-right: 13px;
}

.networks{
    padding-top: 220px;
    padding-bottom: 20px;
}

.photoapp{
	background: #f5f6f7 url(img/iphone.png) no-repeat center bottom;
	background-size: cover;
}

.left{
	padding-top: 110px;
    max-width: 425px;
    margin-left: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 91px;
}

h3 {
	font: 16px/20px, bold;
	margin-bottom: 41px;
    text-transform: uppercase;
    color: #16a085;
    letter-spacing: 2px;
}

.left p{
	font: 12px/24px, lighter;
	margin-bottom: 25px;

}

.left .btn{
    padding: 18px 43px;
}

.design{
	background: #f5f6f7 url(img/phone.png) no-repeat 13% 100%;
}

.right{
    padding-top: 142px;
    max-width: 425px;
    margin-left: calc( 50% + 135px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	padding-bottom: 75px;
}

.right h3{
	margin-bottom: 35px;
}

.right p{
    margin-bottom: 38px;
    font-size: 12px;
    line-height: 22px;
}

.right .btn{
	padding: 18px 45px;
}

.slider a{
	font-size: 24px;
    font-weight: bold;
    color: #000;
}

.pages{
	margin-top: 45px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}


#fourth{
	height: 485px;
	background: #f5f6f7;
	background-size: cover;
}

#logogreen{
	top: 161px;
	margin-left: 185px;
	
}

#fourth h3{
	margin-top: 179px;
	margin-bottom: 17px;

}

#our{
	text-align: center;
	padding-right: 835px;
}

#our p{
	width: 150px;
    padding-left: 135px;
    font: 10px/12px GothamRoundedBook;
    letter-spacing: 1px;
}

#our h3{
	color: #000;
}

#pictures img:first-child{
	margin-right: 20px;
}

#fifth{
	height: 790px;
	background: #222 url(img/nails.png) no-repeat center bottom;
	background-size: cover;
}

#fifth .container{
	padding-top: 345px;
	text-align: center;
	color: #fff;
}

#fifth input{
	font: 15px, normal;
    text-transform: uppercase;
    padding-left: 22px;
    margin-right: -5px;
    height: 56px;
    width: 255px;
    letter-spacing: 3px;
}

#fifth h2{    
	margin-bottom: 29px;
    text-transform: uppercase;
    font: 24px, normal;
    letter-spacing: 4px;
}

#fifth .btn{
    padding: 33px 20px 12px 20px;
}

#download{
	height: 395px;
	background: #f5f6f7;
}

#download .container{
	padding-top: 87px;
    text-align: center;
    letter-spacing: 3px;
}

#download .container h2{
	font: 20px/20px, bold, sans-serif;
	margin-bottom: 8px;
	text-transform: uppercase;
}

#download .container p{
	font: 12px/22px GothamRoundedBook;
    margin: 0 auto;
    margin-bottom: 22px;
    width: 900px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#btn1{
    margin-right: 29px;
    margin-left: -10px;
    padding-left: 44px;
}

.btnd{
    padding: 19px 40px 18px 55px;
    font: 15px GothamRoundedBook;
    letter-spacing: 3px;
    background-color: #1abc9c;
}

footer .container{
	height: 130px;
	background: #fff;
}

footer .container li{
	display: inline-block;
    padding: 0 5px;
    border-right: solid 2px #16a085;
    margin-top: 45px;
    margin-bottom: 20px;
    font: 14px, bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
}

footer .container li:last-child{
	padding: 0;
	border: none;
}

footer .container li:first-child{
    margin-left: 120px;
}

footer h5{    
	font: 12px, bold;
    margin-left: 127px;
    letter-spacing: 3px;
}