
@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedBold"),
  url(fonts/GothamRoundedBold_21016.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedBook"),
  url(fonts/GothamRoundedBook_21018.ttf);
  font-weight: normal;
}

@font-face {
  font-family: GothamRounded;
  src: local("GothamRoundedLight"),
  url(fonts/GothamRoundedLight_21020.ttf);
  font-weight: lighter;
}

ol,ul {list-style: none;}

a, a:hover {
    color: #000;
    text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: GothamRounded;
	
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

header{
	width: 100%;
	padding: 45px 0 0 0;
	letter-spacing: 2px;
}

nav, .soc{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; /*for pixel perfect*/
}
nav a{
	display: inline-block;
	margin-right: 80px;
}

nav a:last-child, .soc li:last-child{
	margin-right: 0px;
}

nav a{
	text-transform: uppercase;
	font: 15px, bold;
	color: #fff;
}

.home{
	background: #462e3b url(img/pict.jpg) no-repeat center bottom;
	background-size: cover;
}

.home .container{
	padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.label{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    margin-left: 25px; /*for pixel perfect*/

}

.home .container h4{
    font: 17px/17px ;
	margin-bottom: 25px;
    letter-spacing: 3px;
}

.btn{
	background-color: #16a085;
    padding: 18px 30px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
	letter-spacing: 2px;
}


.soc li{
	display: inline-block;
    margin-right: 13px;
}

.networks{
    padding-top: 220px;
    padding-bottom: 20px;
}

.photoapp{
	background: #f5f6f7 url(img/iphone.png) no-repeat center bottom;
	background-size: cover;
}

.left{
	padding-top: 110px;
    max-width: 425px;
    margin-left: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 91px;
}

h3{
	font: 16px/20px, bold;
	margin-bottom: 41px;
    text-transform: uppercase;
    color: #16a085;
    letter-spacing: 2px;
}

.left p{
	font: 12px/24px, lighter;
	margin-bottom: 25px;

}

.left .btn{
    padding: 18px 43px;
}

.design  .container{
	background: #fff url(img/phone.png) no-repeat 13% 100%;
}

.right{
    padding-top: 142px;
    max-width: 425px;
    margin-left: calc( 50% + 135px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	padding-bottom: 75px;
}

.right h3{
	margin-bottom: 35px;
}

.right p{
    margin-bottom: 38px;
    font-size: 12px;
    line-height: 22px;
}

.right .btn{
	padding: 18px 45px;
}

.design__slider a, .community__slider a{
	font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-right: 7px;
}

.pages{
	margin-top: 45px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}


.community{
	background: #f5f6f7;
}

.community .container{
        padding: 90px 0 80px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0px 110px;
    overflow: scroll;
}

.content>*{
    margin: 10px 20px 10px 0;
}

.content>*:last-child{
    margin-right: 0;
}

.info{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 55px 0px 10px;
}

.logogreen{
    margin-bottom: 15px;
}

.info h3{
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}

.info p{
    max-width: 170px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 10px;
}

.community__slider{
    display: flex;
    margin-left: 88%;
}

.subscribe{
	background: #222 url(img/nails.png) no-repeat center bottom;
	background-size: cover;
}

.subscribe .container{
    text-align: center;
    padding-top: 345px;
    color: #fff;
    padding-bottom: 325px;
}

.subscribe form{
    display: flex;
    justify-content: center;
}

.subscribe input{
    padding-left: 20px;
    padding-right: 5px;
    height: 60px;
    width: 280px;
    letter-spacing: 4px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.subscribe h2{    
	margin-bottom: 29px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3.5px;
}

.subscribe .btn{
    padding: 12px 20px;
    border-radius: 0 5px 5px 0;
}

.download{
	background: #f5f6f7;
}

.download .container{
    text-align: center;
    padding-top: 87px;
    padding-bottom: 115px;
}

.download .container h2{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.5px;
    margin-bottom: 5px;
}

.download .container p{
    max-width: 840px;
    margin: 0 auto;
    line-height: 22px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 42px;
}

.apps{
    display: flex;
    justify-content: center;
}

.download__btn{
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 45px;
    width: 300px;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: #1abc9c;
    display: flex;
    margin-right: 25px;
}
.download__btn:last-child{
    margin: 0;
}

.download__btn img{
    border-radius: 0 5px 5px 0;
}

footer .container{
    padding: 45px 110px 40px 120px;
    display: flex;
    justify-content: space-between;
}


footer .container li{
	display: inline-block;
    padding: 0 7px;
    border-right: solid 2px #16a085;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

footer .container li:last-child{
	padding: 0;
	border: none;
}

footer h5{    
	font: 12px, bold;
    letter-spacing: 3px;
}
